#auth-form {
    text-align: left;
}

.auth-groups {
    display: flex;
    flex-direction: row; /* Метки и поля ввода в столбик */
    align-items: flex-start; /* Выравнивание по левому краю */
}

.auth-group {
    display: flex;
    flex-direction: column; /* Метки и поля ввода в столбик */
    align-items: flex-start; /* Выравнивание по левому краю */
}

.input-group {
    margin: 5px 0;
    display: flex;
    flex-direction: row; /* Метки и поля ввода в столбик */
    align-items: flex-start; /* Выравнивание по левому краю */
}

.field-group {
    margin-bottom: 3px; /* Отступ между меткой и полем ввода */
    margin-right: 5px;
}

.button-group {
    margin: 2px 0;
}
